<html lang="fa" dir="rtl">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="../../assets/css/Register.css">
    </head>

    <body>

      <nav>  
        <div class="nav__logo">
            <div class="nav__logo_img">
             <img src="/assets/img/logo.svg" alt="logo">
            </div>
            <div class="nav__logo_text">
              <p>درمانیتو</p>
              <p>همراه شما در درمان</p>
            </div>
        </div>       
        <div class="nav__navbar">
            <input type="checkbox" id="check">
            <label class=nav__navbar_checkbtn for="check">
            <i class="fas fa-bars"></i>
            </label>
            <ul class="nav__ul">
              <li><a class="active" href="../../index.html" target="-blank ">صفحه اصلی</a></li>
              <li><a href="#about" target=_blank>درباره ما </a></li>
              <li><a href="/components/html/Contact-us.html" target=_blank>تماس باما</a></li>
              <li><a href="/components/html/Register.html" target=_blank>عضویت داروخانه ها</a></li>
              <li class="nav__li_rules"><a href="#" class="nav__li_rules" >قوانین و شرایط</a></li>
              <hr>
              <li><button class="nav__li_download">
                <a href="#download"><p>دانلود مستقیم درمانیتو</p></a>
              </button></li>               
            </ul>
        </div>
        <button class="nav__download">
            <a href="#download" target=_blank><p>دانلود درمانیتو</p></a>
        </button>
      </nav>

      <main>
        
        <section class="register">
          <div class="register__form_content">
              <div class="register__description">
                  <p>شما هم در سلامت و بهبود مردم کشورمون موثر باشید</p>
                  <br>
                  <p>با ثبت نام به عنوان داروخانه یا فروشکاه و داروخانه شما هم به سیستم درمان کمک کنید و به هزاران کاربر خدمات ارائه دهید و روزانه درآمد سفارشات خود را تسویه کنید.ُ</p>
              </div>
              <form class="register__form">
               <input type="text" placeholder=" شماره همراه را وارد نمایید 22 22 222 0912">
               <input type="submit" value="ثبت نام سریع">
              </form>
              <form action="" class="register__form_responsive">                
               <input type="text" placeholder=" شماره همراه را وارد نمایید ">
               <input type="submit" value="ثبت نام سریع">
              </form>
          </div>
          <div class="register__drugstore_name">
              <div class="register__drugstore_container1">
                  <div class="register__drugstore_contain1">
                      <div class="register__drugstore_logo1">
                        <img src="../../assets/img/person1.svg" alt="">
                      </div>
                      <div class="register__drugstore_title1">
                          <p>نام داروخانه شما</p>
                          <div class="register__drugstore_location1">
                           <img src="../../assets/img/location.svg" alt="">
                           <p>درمانیتو،سرویس داروخانه،داروخانه شما</p>
                          </div>
                      </div>
                  </div>
                  <div class="register__drugstore_button1">
                      شبانه روزی
                  </div>
              </div>
              <div class="register__drugstore_container2">
               <div class="register__drugstore_contain2">
                   <div class="register__drugstore_logo2">
                     <img src="../../assets/img/person2.svg" alt="">
                   </div>
                   <div class="register__drugstore_title2">
                       <p>نام داروخانه شما</p>
                       <div class="register__drugstore_location2">
                         <img src="../../assets/img/location.svg" alt="">
                       <p>درمانیتو،سرویس داروخانه،داروخانه شما</p>
                       </div>
                   </div>
               </div>
              </div>
              <div class="register__drugstore_container3">
               <div class="register__drugstore_contain3">
                   <div class="register__drugstore_logo3">
                     <img src="../../assets/img/person2.svg" alt="">                     
                   </div>
                   <div class="register__drugstore_title3">
                       <p>نام داروخانه شما</p>
                       <div class="register__drugstore_location3">
                         <img src="../../assets/img/location.svg" alt="">
                       <p>درمانیتو،سرویس  داروخانه،داروخانه شما</p>
                       </div>
                   </div>
               </div>
               <div class="register__drugstore_button3">
                   شبانه روزی
               </div>
              </div>
          </div>
        </section>
      <div class="clear"></div>

      <div class="counted">
       <div class="counted__container">
           <p>تعداد کاربران درمانیتو</p>
           <br>
           <p>120.000+</p>
       </div>
       <div class="counted__container">
           <p>تعداد داروخانه و مراکز</p>
           <br>
           <p>120.000+</p>
       </div>
       <div class="counted__container"> 
           <p>تعداد داروخانه و مراکز</p>
           <br>
           <p>120.000+</p>
       </div>
      </div>
      <div class="clear1"></div> 

      <div class="service">
       <div class="service__description">
           <p>در درمانیتو چه خدمات ارائه خواهید داد؟</p>
           <p>خدمت مورد نظر خود را برای ثبت نام وارد نمائید.</p>
           <p>شما میتونید شماره خودتون یا دوست خودتون رو وارد کنید تا لینک دانلود پیامک بشه</p>
       </div>
       <div class="service__container">
           <div class="service__drugstore">
               <div class="service__drugstore_picture">
                 <img src="../../assets/img/drug.svg" alt=" ">
               </div>               
              <div class="service__drugstore_description">
                <p>داروخانه</p>
                <p>فقط داروخانه</p>
                <p>مایل هستم فقط به عنوان داروخانه فعالیت کنم و در بخش صرفا سفارش عکس نسخه به بیماران کمک رسانی کنم</p>
              </div>               
              <input type="submit" value="ثبت نام">
           </div>
           <div class="service__cosmetic">
            <div class="service__cosmetic_picture">
               <img src="../../assets/img/store.svg" alt=" ">
            </div>            
           <div class="service__cosmetic_description">
             <p>فروشگاه آرایشی و بهداشتی</p>
             <p>دارو خانه و فروشگاه ها</p>
             <p>مایل هستم فقط به عنوان داروخانه فعالیت کنم و در بخش صرفا سفارش عکس نسخه به بیماران کمک رسانی کنم</p>
           </div>          
           <input type="submit" value="ثبت نام">              
           </div>
       </div>
      </div>
      <section class="support">
        <div class="support__description">
          <p>پشتیبانی درمانیتو</p>
          <br>
          <p>پاسخگویی در روزهای کاری از 9صبح تا 9شب</p>
        </div>
        <button class="support__tell">          
          <img src="../../assets/img/hedphone.svg" alt="">         
          <p>پشتیبانی: </p>
          <p>021-41516171</p>
        </button>
      </section>
      </main>
  
      <footer>
        <div class="footer__content">
          <div class="footer__description">            
            <div class="footer__logo">
              <div class="footer__logo_img">
                <img src="../../assets/img/logo.svg" alt="">
              </div>
              <div class="footer__logo_text">
                  <p>درمانیتو</p>                  
                  <p>همراه شما در درمان</p>
              </div>
            </div>
            <div class="footer__description_text">
              <p>سوپر اپلیکیشن حوزه درمان و سلامت</p>       
              <p>تمام حقوق مادی و معنوی این وبسایت متعلق به درمانیتو است.</p>
              <div class="footer__socialmedia">
                <a href=""><img src="../../assets/img/linkedIn.svg" alt=""></a>
                <a href=""><img src="../../assets/img/twiter.svg" alt=""></a>
                <a href=""><img src="../../assets/img/instagram.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="footer__service">                
            <p>خدمات درمانیتو</p>
            <br>
            <ul>
              <li><a href="/components/html/FAQ.html">داروخانه آنلاین</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">فروشگاه آنلاین</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">ویزیت آنلاین</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">پرونده پزشکی</a></li>                  
            </ul>                
          </div>
          <div class="footer__pages">               
            <p>صفحات درمانیتو</p>
            <br>
            <ul>
              <li><a href="/components/html/Contact-us.html">تماس با ما</a></li>
              <br>
              <li><a href="#about">درباره ما</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">سوالات متداول</a></li>
              <br>
              <li><a href="#">قوانین و شرایط</a></li>
            </ul>                
          </div>
          <div class="footer__download">            
            <p>دانلود درمانیتو</p>
            <br>
            <div class="footer__store">
              <button class="footer__appstore">
                <a href="">
                  <img src="../../assets/img/black-bazar.svg" alt="">
                </a>                                  
            </button>
              <button class="footer__appstore">
              <a href="">
                <img src="../../assets/img/black-sib-app.svg" alt="">
              </a>
              </button>
            </div>
          </div>
        </div>
      </footer>

    </body>
    
</html>
