<html lang="fa" dir="rtl">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="../../assets/css/FAQ.css">
    </head>

    <body>

      <nav>  
        <div class="nav__logo">
            <div class="nav__logo_img">
             <img src="/assets/img/logo.svg" alt="logo">
            </div>
            <div class="nav__logo_text">
              <p>درمانیتو</p>
              <p>همراه شما در درمان</p>
            </div>
        </div>       
        <div class="nav__navbar">
            <input type="checkbox" id="check">
            <label class=nav__navbar_checkbtn for="check">
            <i class="fas fa-bars"></i>
            </label>
            <ul class="nav__ul">
              <li><a class="active" href="../../index.html" target="-blank ">صفحه اصلی</a></li>
              <li><a href="#about" target=_blank>درباره ما </a></li>
              <li><a href="/components/html/Contact-us.html" target=_blank>تماس باما</a></li>
              <li><a href="/components/html/Register.html" target=_blank>عضویت داروخانه ها</a></li>
              <li class="nav__li_rules"><a href="#" class="nav__li_rules" >قوانین و شرایط</a></li>
              <hr>
              <li><button class="nav__li_download">
                <a href="#download"><p>دانلود مستقیم درمانیتو</p></a>
              </button></li>               
            </ul>
        </div>
        <button class="nav__download">
            <a href="#download" target=_blank><p>دانلود درمانیتو</p></a>
        </button>
      </nav>


      <main>
        <div class="FAQ"><p>سوالات متداول</p></div>
        <div class="clear"></div>

        <div class="question">
          <div class="question__text">
            <p>سوال شما درباره کدام سرویس هست؟</p>
          </div>
          <br>
          <div class="question__box">  <a name="servic"></a>          
            <div class="question__drugstore">
                <a href="#">
                <img src="../../assets/img/drug-store.svg" alt="">
                </a>
                <p>داروخانه</p>
            </div>         
            <div class="question__store">
                <a href="">
                <img src="../../assets/img/store.svg" alt="">
                </a>
                <p>فروشگاه</p>
            </div>    
            <div class="question__visit1">
                <a href="#">
                <img src="../../assets/img/coming-soon.svg" alt="">
                <img src="../../assets/img/stethoscop.svg" alt="">
                </a>
                <p>ویزیت آنلاین</p>
            </div>
            <div class="question__visit2">
                <a href="#">
                <img src="../../assets/img/coming-soon.svg" alt="">
                <img src="../../assets/img/calendar.svg" alt="">
                </a>
                <p>نوبت دهی آنلاین</p>
            </div>
          </div>
          <div class="question__description">
              <ul>
                  <li>هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟</li>
                  <br>
                  <li>هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟   
                      <ul class="question__ul">
                          <br>
                          <li>
                              درمانیتو فقط در تهران و کرج فعال است؟
                              <br>
                              <p>خیر ما در تهران در حال فعالیت هستیم.</p>
                          </li>
                      </ul>
                  </li>
                  <br>
                  <li>هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟</li>
              </ul>
          </div>
        </div>
        <div class="clear5"></div>

        <section class="support">
          <div class="support__description">
            <p>پشتیبانی درمانیتو</p>
            <br>
            <p>پاسخگویی در روزهای کاری از 9صبح تا 9شب</p> 
          </div>            
            <button class="support__tell">             
              <a href="">
              <img src="../../assets/img/hedphone.svg" alt="hedohone">
              <p>   پشتیبانی: </p>
              <p>021-41516171</p>
              </a>  
            </button>            
        </section>
      </main>

          
      <footer>
        <div class="footer__content">
          <div class="footer__description">            
            <div class="footer__logo">
              <div class="footer__logo_img">
                <img src="../../assets/img/logo.svg" alt="">
              </div>
              <div class="footer__logo_text">
                  <p>درمانیتو</p>                  
                  <p>همراه شما در درمان</p>
              </div>
            </div>
            <div class="footer__description_text">
              <p>سوپر اپلیکیشن حوزه درمان و سلامت</p>       
              <p>تمام حقوق مادی و معنوی این وبسایت متعلق به درمانیتو است.</p>
              <div class="footer__socialmedia">
                <a href=""><img src="../../assets/img/linkedIn.svg" alt=""></a>
                <a href=""><img src="../../assets/img/twiter.svg" alt=""></a>
                <a href=""><img src="../../assets/img/instagram.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="footer__service">                
            <p>خدمات درمانیتو</p>
            <br>
            <ul>
              <li><a href="/components/html/FAQ.html">داروخانه آنلاین</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">فروشگاه آنلاین</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">ویزیت آنلاین</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">پرونده پزشکی</a></li>                  
            </ul>                
          </div>
          <div class="footer__pages">               
            <p>صفحات درمانیتو</p>
            <br>
            <ul>
              <li><a href="/components/html/Contact-us.html">تماس با ما</a></li>
              <br>
              <li><a href="#about">درباره ما</a></li>
              <br>
              <li><a href="/components/html/FAQ.html">سوالات متداول</a></li>
              <br>
              <li><a href="#">قوانین و شرایط</a></li>
            </ul>                
          </div>
          <div class="footer__download">            
            <p>دانلود درمانیتو</p>
            <br>
            <div class="footer__store">
              <button class="footer__appstore">
                <a href="">
                  <img src="../../assets/img/black-bazar.svg" alt="">
                </a>                                  
            </button>
              <button class="footer__appstore">
              <a href="">
                <img src="../../assets/img/black-sib-app.svg" alt="">
              </a>
              </button>
            </div>
          </div>
        </div>
      </footer>
  
    </html>

</body>